* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Steppe", sans-serif;
}

body {
  position: relative;
}

.scrollLock {
  width: 100%;
  position: fixed;
  overflow-y: scroll;
}

.mobile {
  display: none;
}

@media (max-width: 1080px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
